[gerrit]
        basePath = git
        serverId = 2550900f-5ed3-4c77-8aef-3efff44f8214
	canonicalWebUrl = http://KK_WEBUI_IP
[database]
        type = h2
        database = /var/gerrit/review_site/db/ReviewDB
[index]
        type = LUCENE
[auth]
	type = LDAP
	gitBasicAuthPolicy = LDAP
	gitBasicAuth = true
[receive]
        enableSignedPush = false
[sendemail]
        smtpServer = smtp.gmail.com
        smtpServerPort = 465
        smtpEncryption = tls
        smtpUser = kuankuan.y@gmail.com
        smtpPass = xxxx
        sslVerify = true
        from = Yang Kuankuan <kuankuan.y@gmail.com>
        enable = true
[container]
        user = gerrit2
        javaHome = /usr/lib/jvm/java-1.8-openjdk/jre
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://*:8080/
[cache]
        directory = cache
[ldap]
	server = ldap://ldap
	accountBase = dc=astri,dc=org
        groupBase = ou=groups,dc=astri,dc=org
        referral = follow
        accountPattern = (uid=${username})
        groupPattern = (cn=${groupname})
        accountFullName = cn
        #accountMemberField = memberOf
        accountEmailAddress = mail
        username = CN=admin,DC=astri,DC=org
        password = astri.org
[plugins]
	allowRemoteAdmin = true
[plugin "events-log"]
	storeUrl = jdbc:h2:/var/gerrit/review_site/db/ChangeEvents
[gitweb]
	cgi = /usr/share/gitweb/gitweb.cgi
	type = gitweb
